.nav {
  display: flex;
  flex-flow: row;
  width: 100%;
  padding: 40px 0 0;
  grid-column-start: 1;
  grid-column-end: 13;
  font-size: 18px;
  font-weight: 500;
}

.navList {
  display: flex;
  flex-flow: row;
  align-self: flex-end;
  margin-left: auto;
}

.navLink {
  position: relative;
  z-index: 5;
  padding-left: 60px;
  transition: color 200ms ease;
}

.navLink:hover,
.logo:hover {
  color: var(--color-blue);
  text-decoration: none;
}