
.pink {
  background: var(--color-pink);
}

.project-hero-wrapper {
  position: relative;
  height: 480px;
  overflow: hidden;
}

.project-hero-background {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.project-hero {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  position: absolute;
  /* height: 100%; */
  width: 100%;
}

.project-hero-image {
  position: relative;
  z-index: 10;
  margin: -80px auto 0;
  pointer-events: none;
}

.project-intro {
  padding-top: 40px;
  padding-bottom: 40px;
  grid-column-start: 1;
  grid-column-end: 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.project-main {
  grid-column: 1;
  grid-column-end: 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.image-2up {
  grid-column-start: 1;
  grid-column-end: 13;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.project-image--full {
  padding: 24px 16px;
  grid-column-start: 1;
  grid-column-end: 13;
}

.project-image--half {
  padding: 24px 16px;
}

.project-image {
  /* margin-bottom: 40px; */
  background: var(--color-grey);
  border-radius: 24px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.project-video {
  background: var(--color-grey);
  border-radius: 24px;
  /* display: flex;
  align-content: center;
  justify-content: center; */
}

.project-image img {
  margin: auto;
}

.body {
  grid-column-start: 1;
  grid-column-end: 13;
  padding: 40px 0;
}

em {
  font-weight: bold;
}

.body .paragraph {
  font-size: 16px;
}

.project-title {
  font-weight: 600;
  font-size: 28px;
  grid-column-start: 1;
  grid-column-end: 12;
}

.project-description {
  grid-column-start: 1;
  grid-column-end: 12;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.iframe-container iframe,
.iframe-container emebd,
.iframe-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figcaption {
  padding: 20px 0;
  font-size: 16px;
  text-align: center; 
}

.case-list {
  font-size: 16px;
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 40px;
}

.case-list li {
  margin-bottom: 20px;
}

.project-about {
  font-weight: 500;
}

@media screen and (min-width: 960px) {
  .body {
    padding: 160px  0;
    grid-column-start: 4;
    grid-column-end: 10;
  }

  .body .paragraph {
    font-size: 24px;
  }

  .project-intro {
    padding-bottom: 120px;
  }

  .project-hero-wrapper {
    height: 720px;
  }

  .project-hero-image {
    margin: -80px auto 0;
  }

  .project-intro {
    padding-top: 120px;
  }

  .project-image--full {
    padding: 90px 60px;
  }
  
  .project-image--half {
    padding: 90px 60px;
  }

  .image-2up {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-title {
    font-size: 48px;
    grid-column-start: 2;
    grid-column-end: 5;
  }
  
  .project-description {
    grid-column-start: 6;
    grid-column-end: 12;
  }

  .project-lede {
    margin-bottom: 20px;
  }

  .project-image-8 {
    grid-column-start: 3;
    grid-column-end: 11;
  }

  .case-list {
    font-size: 24px;
  }
}

.details-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 960px) {
  .details-wrapper {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}

.detail {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-content: center;
  overflow: hidden;
}

.first-detail {
  grid-column-start: 1;
  grid-column-end: 12;
}

.second-detail {
  grid-column-start: 1;
  grid-column-end: 12;
}

@media screen and (min-width: 960px) {
  .first-detail {
    grid-column-start: 6;
    grid-column-end: 8;
  }
  
  .second-detail {
    grid-column-start: 8;
    grid-column-end: 12;
  }
}

.icon-wrapper {
  padding: 8px;
  border-radius: 100px;
  background: var(--color-pink);
  margin-right: 16px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-label {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-black);
}

@media screen and (min-width: 960px) {
  .details-label {
    font-size: 24px;
  }
}